extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner STUDIESERVICE
    div.Message.ban
      div.Title
        h3 Skriv om alt og få svar på 24 timer
        br
        h1 Skriv med studiekonsulent
      span.Details Nu kan du få hjælp til alt på A.U.
    div.NavButtons
      a(href="/user")
          div.NavButton Ny studerende?