extends layout

block layout-content
  div.View.UserView
    h1.Banner  Ny Studerende?,
    div.Message
      div.Title
        h3 Her kan du finde alt information vedrørende dit nye studieliv
        h1  Chat med studiekonsulent som ny studerende
      
    div.NavButtons
      a(href="/index")
        div.NavButton Tilbage